*{
  box-sizing: border-box;
}
.App {
  /* text-align: center; */
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}
.form-parent{
  max-width: 500px;
  margin: 0 auto;
}
.form-group{
  float:left;
  width: 100%;
  margin-bottom: 10px;
}
.form-control{
  float:left;
  width: 100%;
  min-height: 50px;
  padding: 10px;
  border:1px solid #ddd;
  border-radius: 0;
  color: #888;
}
.btn-submit{
  background: #654ed4;
  color: #fff;
  font-size: 16px;
  min-height: 40px;
  border: 0;
  border-radius: 40px;
  text-transform: uppercase;
  font-weight: 600;
  width: 100%;
  max-width: 125px;
  float:right;
  margin-top: 30px;
}
.validMsg{
  color:red
}
